    .tab-list{
        display: flex;
        /*justify-content: space-evenly;*/
        height: 60px;
        border-bottom: 2px solid rgb(228, 228, 228);
    }
    .tab-list li{
        line-height: 60px;
        font-size: 15px;
	margin-left: 20px;
    }
    .tab-list .active{
	margin-left: 20px;
        color: red;
	font-weight: bold;
        border-bottom:2px solid red ;
    }